html{
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    max-width: 60em;
    min-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.headerlogo{
    font-size: 36px;
    font-weight: bolder;
    color: #E5E7EB;
}

.headerlinks{
    display: flex;
    gap: 10px;
}


a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    padding-bottom: 50px;
}

.footer,.hero .subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.maintext{
    font-size: 32px;
    font-weight: bolder;
    color: #f9faf8;
}

.heroimg{
    max-height: 300px;
}

.signup{
    background-color: #3882F6;
    border: 0;
    border-radius: 4px;
    color: aliceblue;
    padding: 4px 16px;
    font-weight: bold;
}

.section1{
    display: flex;
    flex-direction: column;  
    align-items: center; 
    flex:1;
}

.section1 .container{
    display: flex;
}

.subimg{
    border: #3882F6;
    border-style: solid;
    border-radius: 4px;
    max-width: 125px;
}

.section2{
    display: flex;
    background-color: #E5E7EB;
    flex:1;
}
.section3{
    display: flex;
    flex:1;
}

.footer{
    display: flex;
    flex: 0;
}

.header,.hero,.footer{
    background-color: #1f2937;
}

