html{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
}

.headerlogo{
    font-size: 36px;
    font-weight: bolder;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}